@media screen and (max-width:633px){
    header{
        margin: 90px 0 55px 0;
    }
    h1{
        font-size: 2.5em;
    }
    .capture_area{
        width: 97%;
    }
    .select_bubble ul{
        width: 270px;
        font-size: 1em;
    }
    .name{
        left: 40px;
        font-size: 1em;
    }
    .dialogue, .normal_dialogue{
        left: 40px;
        margin-top: 37px;
        font-size: 0.968em;
    }
    .export_btn{
        margin-top: 35px;
    }
}
@media screen and (max-width:520px){
    header{
        margin: 75px 0 50px 0;
    }
    h1{
        font-size: 2.3em;
    }
    .select_bubble ul{
        width: 250px;
        font-size: 0.95em;
    }
    .name{
        left: 35px;
        font-size: 0.9em;
        width: 60%;
    }
    .dialogue, .normal_dialogue{
        left: 35px;
        margin-top: 33px;
        font-size: 0.9em;
        width: 82%;
        min-width: 82%;
        height: 44%;
        min-height: 44%;
        max-height: 44%;
    }
    .export_btn{
        margin-top: 15px;
    }
    footer{
        margin-top: 65px;
        font-size: 0.83em;
    }
}