@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');

body{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
/*     background-color: rgb(42, 49, 59); */
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(bg.png) no-repeat center 15%;
    background-color: black;
    font-family: 'Noto Sans KR', sans-serif;
    z-index: -1;
    min-width: 520px;
}   
header{
    position: relative;
    float: left;
    width: 100%;
/*     background-color: red; */
    margin: 100px 0 65px 0;
}
h1{
    position: relative;
    float: left;
    font-size: 2.8125em;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-weight: bold;
    text-shadow: 3px 3px 0px rgba(67, 106, 113, 0.35);
}
span{
    color: #ff3178;
}
.contents{
    position: relative;
    float: left;
    width: 100%;
/*     background-color: red; */
}
.select_bubble{
    position: relative;
    float: left;
/*     background-color: white; */
    width: 100%;
    margin-bottom: 13px;
}
.select_bubble ul{
    position: relative;
    float: left;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
/*     background-color: green; */
    width: 300px;
    font-size: 1em;
    font-weight: 500;
}
.generate_bubble{
    position: relative;
    float: left;
/*     width: 650px; */
    left: 50%;
    transform: translateX(-50%);
/*     background-color: blue; */
}
.capture_bubble{
    position: relative;
    float: left;
/*     background-color: red; */
}
.ascian_capture_area{
    position: relative;
    float: left;
/*     background-color: red; */
    left: 50%;
    width: 633px;
    height: 165px;
    transform: translateX(-50%);
}
.normal_capture_area{
    position: relative;
    float: left;
/*     background-color: red; */
    left: 50%;
    width: 655px;
    height: 150px;
    transform: translateX(-50%);
}
.ascian_bubble_img{
    position: relative;
    float: left;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
/*     background-color: gray; */
    display: none;
}
.ascian_bubble_img.show{
    display: block;
}
.ascian_bubble_img img, .normal_bubble_img img{
    width: 100%;
}
.normal_bubble_img{
    position: relative;
    float: left;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
/*     background-color: gray; */
    display: none;
}
.normal_bubble_img.show{
    display: block;
}
.btn_wrapper{
    position: relative;
    float: left;
    width: 100%;
/*     background-color: red; */
}
.export_btn{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    background-color: black;
    color: white;
    transition: 0.5s ease;
    box-shadow: 0px 0px 10px black;
}
.export_btn:hover{
    color: #ff3178;
}
.name{
    position: absolute;
    float: left;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.16875em;
    letter-spacing: 1.15px;
    font-family: 'Noto Sans KR', sans-serif;
/*     background-color: red; */
    width: 63.1911%;
    left: 41px;
    margin-top: 6px;
    font-weight: 400;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
/*     transition: 0.3s ease; */
}
.name::placeholder{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
input:focus{
    outline: none;
    background-color: rgb(125 125 125 / 50%);
}
input:focus::-webkit-input-placeholder{
    color:transparent;
    text-shadow: none;
}
.name.click{
    border: white;
}
.dialogue{
    position: absolute;
    float: left;
    background: transparent;
    border: none;
    color: #ff3178;
    font-size: 1.16875em;
    letter-spacing: 1.15px;
    font-family: 'Noto Sans KR', sans-serif;
    left: 41px;
    margin-top: 39px;
    width: 85.3080%;
    min-width: 85.3080%;
    height: 48.4848%;
    min-height: 48.4848%;
    max-height: 48.4848%;
    font-weight: 500;
    overflow: hidden;
/*     transition: 0.3s ease; */
/*     background-color: blue; */
}
.dialogue::placeholder{
    color: #ff3178;
}
textarea:focus{
    outline: none;
    background-color: rgb(125 125 125 / 50%);
}
textarea:focus::-webkit-input-placeholder{
    color:transparent;
    text-shadow: none;
}
.dialogue.click, .normal_dialogue.click{
    border: white;
}
.normal_dialogue{
    position: absolute;
    float: left;
    background: transparent;
    border: none;
    font-size: 1.16875em;
    letter-spacing: 1.15px;
    font-family: 'Noto Sans KR', sans-serif;
    left: 41px;
    margin-top: 38px;
    width: 85.3080%;
    min-width: 85.3080%;
    height: 48.4848%;
    min-height: 48.4848%;
    max-height: 48.4848%;
    font-weight: 500;
    overflow: hidden;
}
.normal_dialogue::placeholder{
    color: black;
}
footer{
    position: relative;
    float: left;
    width: 100%;
    color:white;
    font-weight: 300;
    font-size: 0.9em;
/*     background-color: rgb(149 243 255 / 30%); */
/*     bottom: 0; */
    margin-top: 70px;
    height: 25px;
}
.developer{
/*     display: flex;
    align-items: center; */
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0.3px;
    text-shadow: 0px 0px 5px #00fff7, 0px 0px 3px #00827e, 0px 0px 1px #003c3b;
}